.port {
	padding-left:16px;
	padding-right:2px;
	spacing:2px;
}

.port-icon {
	icon-size:1.09em;
	padding-right:13px;
	padding-left:13px;
}

.solitary .port-icon{
	padding-left:7px;
	padding-right:7px;
}


.solitary {
	width:20em;
}

.stream_container {
	margin-bottom:0px;
	spacing:2px;
}

.simple-stream-label{
	color:lightgray;
}

.simple-stream-label:hover:clickable {
	color:white;
}

.solitary .stream_container{
	margin-bottom:0px;
}

.solitary .stream_container{
	padding-top:10px;
}

.simple-stream-icon,
.stream_container .icon {
	width:2em;
	height:2em;
	icon-size:1.5em;
	padding-left:6px;
	padding-right:12px;
}

.stream {
	padding-top:2px;
	padding-bottom:2px;

	padding-left: 18px;
}
.solitary .stream {
	padding-left:10px;
	padding-top:4px;
}


.simple-stream{
	padding-right:20px;
}

.stream:active, .simple-stream:active {
	background-color: #4a5050;
}

.mpris-stream .stream {
	padding-right:15px;
}

.mpris-stream .stream:alone {
	padding-right:0px;
}

.mpris-stream{
	padding-right:2px;
}

.mpris-album-art {
	icon-size:86px;
}

.mpris-album-art:generic {
	width:84px;
	height:84px;
	icon-size:1.8em;
	border:1px gray solid;
	color: lightgray;
}

.mpris-label-subtext {
	font-weight: lighter;
	font-size: 0.65em;
	color: lightgray;
}
.mpris-meta-title {
	font-weight: bolder;
	font-size: 0.9em;
}

.mpris-meta-info {
	font-weight: bolder;
	font-size:0.8em;
}

.mpris-player-controls {
	padding-left:3px;
	padding-top:10px;
}

.mpris-player-controls > StButton{
	color: #e6e6e6;
}

.mpris-player-controls > StButton:hover,
.mpris-player-controls > StButton:focus {
	color: white;
	background-color: #4a5050;
}

.mpris-player-controls > StButton:disabled {
	color: #3f3f3f;
	border-color: #3f3f3f;
}

.mpris-player-controls > StButton:active {
    color: black;
    background-color: #6f6f6f;
}

.mpris-fullscreen-button > StIcon,
.mpris-play-order-controls > StButton > StIcon,
.mpris-player-controls > StButton > StIcon{
	icon-size:12px;
}

.mpris-play-button {
	border: 1px solid #5f5f5f;
	padding: 1px, 10px;
}

.mpris-play-button:alone {
	border-radius: 5px;
	padding: 2px;
}

.mpris-previous-button {
	border-radius: 5px 0px 0px 5px;
	border: 1px solid #5f5f5f;
	border-right: 0px;
	padding:5px;
}

.mpris-next-button {
	border-radius: 0px 5px 5px 0px;
	border: 1px solid #5f5f5f;
	border-left: 0px;
	padding:5px;
}

.mpris-stream:active-top{
	background-gradient-start: rgba(74,80,80,1);
	background-gradient-end: rgba(74,80,80,0.3);
	background-gradient-direction: vertical;
}

.mpris-stream:active-top:alone,
.mpris-stream:active{
	background:rgb(74,80,80);
	background-gradient-start: none;
	background-gradient-end: none;
	background-gradient-direction: none;
}

.mpris-stream:active-bottom{
	background-gradient-start: rgba(74,80,80,0.3);
	background-gradient-end: rgba(74,80,80,1);
	background-gradient-direction: vertical;
}

.mpris-metadata-display {
	spacing: 7px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-top: 1px;
}


.mpris-time-display {
	padding-left:15px;
	padding-right:15px;
	padding-top:1px;
	spacing:3px;
}

.mpris-time-display > StLabel {
	font-weight: bold;
	font-size: small;
	font-family: 'Courier New', Courier, monospace;
}

.mpris-metadata-display:alone {
	padding-top:10px;
	padding-left:5px;
}
